#navback {
    background-color: #FB1D01;
}

#navbutton {
    background-color: #0247F7;
}
/* #navbutton2 {
    background-color: #FE9D2E;
} */


.jumbotron {
    height: 2000px;
    background-image: url(../img/purple.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

 .jumbotron .container #demotext {
    text-align: center;
    font-size: 120px;
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    }
.jumbotron .container #demotext1 {
        text-align: center;
        font-size: 60px;
        color: #FFFFFF;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
        color: #FFFFFF;
        }

.container {
    margin-top: 900px;

}
