:root {
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-accent: 'Raleway', sans-serif;
    --color-primary: #fa00bb;
    --color-secondary: #eeff00;
    --color-accent: #00ff2a;
    --color-accent-light: #00adfd;
    /* --color-overlay: rgba(255, 145, 0, 0.7); */
}

/*-----------------------------------------------------------------------------
 * Defaults
 *-----------------------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary);
}

/*-----------------------------------------------------------------------------
 * Utility classes
 *-----------------------------------------------------------------------------*/
.btn-outline-primary:hover {
    background-color: var(--color-accent) !important;
}

.bg_transparent {
    background-color: rgba(0, 0, 0, 0);
}

.font_color_primary {
    color: var(--color-primary);
}

.font_color_accent {
    color: var(--color-accent);
}

.font_family_accent {
    font-family: var(--font-family-accent);
}

.no_underline {
    text-decoration: none !important;
}

.pill {
    border-radius: 50rem;
}

.grow_on_hover {
    transition: transform 300ms ease-in-out;
}

.grow_on_hover:hover {
    transform: scale(1.5);
}

.wrapper {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .wrapper {
        width: 70%;
        margin: 0 auto;
    }
}

/*-----------------------------------------------------------------------------
 * Keyframe animations
 *-----------------------------------------------------------------------------*/
.slide_in_left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.slide_in_right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.slide_in_elliptic_top_fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
  }
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}


@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }

/*-----------------------------------------------------------------------------
 * Nav 
 *-----------------------------------------------------------------------------*/
 nav {
    z-index: 9999;
 }

.nav-link {
    font-size: 1.5rem;
    width: 64px;
    height: 64px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border-radius: 50rem !important;
    -webkit-transition: width 300ms ease-in-out;
       -moz-transition: width 300ms ease-in-out;
         -o-transition: width 300ms ease-in-out;
            transition: width 300ms ease-in-out;
}

.nav-link.active {
    color: #FFFFFF;
    background-color: var(--color-accent);
} 

.nav-link:hover {
    padding: 0 20px !important;
    width: 150px;
    color: #FFFFFF;
    background-color: var(--color-accent);
}

.nav-link i::after {
    vertical-align: middle !important;
    content: attr(data-label);
    font-family: var(--font-family-primary);
    font-size: 0;
    text-transform: capitalize;
    -webkit-transition: all 200ms ease-in 50ms;
       -moz-transition: all 200ms ease-in 50ms;
         -o-transition: all 200ms ease-in 50ms;
            transition: all 200ms ease-in 50ms;
}

.nav-link:hover.nav-link i::after {
    display: inline-block;
    padding-left: 8px;
    font-size: 1rem;
}

.navbar-toggler {
    top: 0;
    right: 0;
    font-size: 2rem;
    color: var(--color-primary);
}

.navbar-toggler:focus {
    outline: none;
}

@media screen and (max-width: 991px) {
    .navbar .collapsing, .navbar .show {
        width: 300px;
        background-color: var(--color-accent-light);
        -webkit-transition: all ease-in-out 0.5s;
           -moz-transition: all ease-in-out 0.5s;
             -o-transition: all ease-in-out 0.5s;
                transition: all ease-in-out 0.5s;
    }
}

/*-----------------------------------------------------------------------------
 * Hero
 *-----------------------------------------------------------------------------*/
#hero {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../img/purple.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hero .container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--color-overlay);
}

#hero .jumbotron {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
#hero .container .jumbotron #demotext {
    text-align: center;
    font-size: 120px;
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    }
#hero .container .jumbotron #demotext1 {
        text-align: center;
        font-size: 60px;
        color: #FFFFFF;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
        color: #FFFFFF;
        }
/*-----------------------------------------------------------------------------
 * About section
 *-----------------------------------------------------------------------------*/
 #about .container #demotext {
     text-align: center;
     font-size: 120px;
     color: #FFFFFF;
     text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(0, 225, 255), 0 -10px 20px #0044ff, 0 -18px 40px rgb(94, 255, 0);
     color: #FFFFFF;
        }

 #about img {
    height: 400px;
    width: 400px;
}

#about .card-text {
    font-size: 1.15em;
    line-height: 1.7em;
}

#about {
    background-image: url(../img/different.jpg);
}

#text {
    background-color: yellow;
    color: black;
}

#text2 {
    background-color: LIME;
    color: black;
}
/*-----------------------------------------------------------------------------
 * Portfolio section
 *-----------------------------------------------------------------------------*/
 #portfolio .container #demotext {
    text-align: center;
    font-size: 120px;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(0, 225, 255), 0 -10px 20px #0044ff, 0 -18px 40px rgb(94, 255, 0);
    color: #FFFFFF;
       }

#portfolio img {
   height: 300px;
   width: 300px;
}

#portfolio .card-text {
   font-size: 1.15em;
   line-height: 1.7em;
}
 #portfolio .wrapper .container #demotext {
    text-align: center;
    font-size: 120px;
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e418ff, 0 0 30px #9718ff, 0 0 40px #f718ff, 0 0 55px #8f18ff, 0 0 75px #ff18ff;
    color: #FFFFFF;
    }

 #portfolio {
    background-image: url(../img/spaceblue.jpg);
}

#portfolio .carousel {
    margin-bottom: 48px;
}

#portfolio .card .carousel-indicators {
    transform: translateY(200%);
}

#portfolio .card .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-accent);
}

/*-----------------------------------------------------------------------------
 * Contact section
 *-----------------------------------------------------------------------------*/
 #contact .wrapper .container #demotext {
    text-align: center;
    font-size: 120px;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(255, 153, 0), 0 -10px 20px #fffb00, 0 -18px 40px rgb(21, 255, 0);
    color: #FFFFFF;
       }

 #contact {
    background-image: url(../img/bublerainbow.jpeg);
}
#contact-form .row {
    outline-color: rgb(250, 0, 187);
}
/*-----------------------------------------------------------------------------
 * Footer Section
 *-----------------------------------------------------------------------------*/
 #footer {
    background-color: yellowgreen;
    margin-top: 20px;
}

#footer .wrapper .container .social {
    margin-left: 130px;
}
footer .wrapper .container .social .rowfinal::after {
    content: "";
    clear: both;
    text-align: center;

} 
